/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../styles/styles.scss */
.clear:after {
  content: "&nbsp;";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

/* line 17, ../styles/styles.scss */
.container {
  background-color: #FAF0E6;
  height: 100hv;
}

/* line 24, ../styles/styles.scss */
.header {
  position: relative;
  width: 100%;
  max-width: 960px;
  padding: 10px;
  margin: auto;
  height: 60px;
  background-color: #FF6633;
}

/* line 33, ../styles/styles.scss */
.logo {
  float: left;
  height: 40px;
  padding: 0 10px 0 10px;
  font-size: 26px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
}

/* line 45, ../styles/styles.scss */
.content {
  position: relative;
  width: 100%;
  max-width: 960px;
  left: 0px;
  margin: auto;
  background-color: #FAF0E6;
}

/* line 55, ../styles/styles.scss */
#touchMenu {
  display: none;
  padding: 8px 0px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

/* line 63, ../styles/styles.scss */
.divide {
  display: block;
  height: 3px;
  margin: 4px 0;
  background: #FFFFFF;
}

/* line 70, ../styles/styles.scss */
.nav {
  position: relative;
  margin-top: 70px;
  float: left;
  padding: 10px;
  width: 25%;
}

/* line 77, ../styles/styles.scss */
.nav ul {
  padding-left: 10px;
}

/* line 80, ../styles/styles.scss */
.nav li {
  padding-left: 5px;
}

/* line 84, ../styles/styles.scss */
.nav button {
  margin-top: 4px;
  font-size: 16px;
  color: #000000;
}

/* line 89, ../styles/styles.scss */
.nav button:hover {
  margin-top: 4px;
  font-size: 16px;
  color: #FF6633;
  text-decoration: none;
}

/* line 95, ../styles/styles.scss */
.glyphicon-list-alt, .glyphicon-calendar,
.glyphicon-check {
  font-size: 18px;
  color: #FF6633;
  height: 40px;
}

/* line 101, ../styles/styles.scss */
#mobileMenu ul {
  display: none;
}

@media (max-width: 768px) {
  /* line 108, ../styles/styles.scss */
  .container {
    position: absolute;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-color: #FAF0E6;
  }

  /* line 116, ../styles/styles.scss */
  .header {
    position: fixed;
    width: 100%;
    max-width: 768px;
    height: 60px;
    background-color: #FF6633;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
  }

  /* line 127, ../styles/styles.scss */
  #touchMenu {
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    margin-right: 5px;
    border-radius: 4px;
  }

  /* line 136, ../styles/styles.scss */
  #touchMenu:hover {
    background-color: #D66038;
  }

  /* line 139, ../styles/styles.scss */
  #desktop {
    position: absolute;
    margin-top: -10px;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
  }

  /* line 147, ../styles/styles.scss */
  #mobileMenu {
    margin: 0px;
  }

  /* line 150, ../styles/styles.scss */
  #mobileMenu ul {
    display: block;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #FAF0E6;
  }

  /* line 158, ../styles/styles.scss */
  #mobileMenu li {
    float: none;
    padding: 0px 0px;
    text-transform: uppercase;
    border-top: 1px solid #F6E6D5;
  }

  /* line 164, ../styles/styles.scss */
  #mobileMenu li:hover {
    background-color: #F6E6D5;
    border-left: 3px solid #FF6633;
    color: #FF6633;
  }

  /* line 169, ../styles/styles.scss */
  #mobileMenu li:hover a {
    background-color: #F6E6D5;
    color: #FF6633;
  }

  /* line 173, ../styles/styles.scss */
  #mobileMenu a {
    font-size: 12px;
    color: #000000;
    margin: 0px;
    text-transform: uppercase;
    text-decoration: none;
  }

  /* line 180, ../styles/styles.scss */
  #mobileMenu li a.active {
    background-color: #F6E6D5;
    border-left: 3px solid #FF6633;
    color: #FF6633;
  }
}
/* line 189, ../styles/styles.scss */
.task-page {
  position: relative;
  width: 75%;
  padding: 0px;
  display: inline-block;
  background-color: #FFFFFF;
}

/* line 197, ../styles/styles.scss */
.add-task {
  position: relative;
  padding: 50px 30px;
}

/* line 201, ../styles/styles.scss */
.list {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 50px 10px;
}

@media (max-width: 768px) {
  /* line 211, ../styles/styles.scss */
  .container {
    position: absolute;
    margin: 0px;
    padding: 0px;
  }

  /* line 216, ../styles/styles.scss */
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 60px;
    padding: 0px;
    margin: 0px;
    background-color: #FAF0E6;
  }

  /* line 225, ../styles/styles.scss */
  .task-page {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #FFFFFF;
  }

  /* line 233, ../styles/styles.scss */
  .add-task {
    padding: 25px 20px;
  }

  /* line 236, ../styles/styles.scss */
  .list {
    padding: 15px 0px 15px 5px;
  }

  /* line 239, ../styles/styles.scss */
  .mobileMenu {
    position: absolute;
    top: 50px;
  }
}
/* line 246, ../styles/styles.scss */
#td-checkbox {
  width: 30px;
}

/* line 249, ../styles/styles.scss */
#taskList .description {
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0px;
  cursor: pointer;
}

/* line 256, ../styles/styles.scss */
#taskList :hover .description {
  font-size: 18px;
}

/* line 259, ../styles/styles.scss */
#taskList input {
  float: left;
  margin-right: 5px;
  margin-top: 6px;
}

/* line 264, ../styles/styles.scss */
#taskList tr {
  background-color: #FFFFFF;
}

/* line 267, ../styles/styles.scss */
#taskList :hover tr .glyphicon-trash {
  visibility: visible;
}

/* line 270, ../styles/styles.scss */
#taskList :hover tr .glyphicon-pencil {
  visibility: visible;
}

/* line 273, ../styles/styles.scss */
#taskList button {
  float: right;
  font-size: 10px;
  visibility: visible;
}

/* line 278, ../styles/styles.scss */
#taskList .btn-link {
  float: left;
  font-size: 16px;
  color: #FF6633;
  text-decoration: none;
  visibility: visible;
}

/* line 285, ../styles/styles.scss */
.glyphicon-pencil {
  font-size: 18px;
  float: right;
  color: #0066FF;
  margin: 5px;
  visibility: hidden;
}

/* line 292, ../styles/styles.scss */
.glyphicon-trash {
  font-size: 18px;
  float: right;
  color: red;
  margin: 5px;
  visibility: hidden;
}

/* line 299, ../styles/styles.scss */
.btn-info {
  font-size: 18px;
  float: left;
  color: #0409b3;
  margin: 5px;
}

/* line 305, ../styles/styles.scss */
.date {
  float: right;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0px;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* line 315, ../styles/styles.scss */
  #taskList {
    width: 100%;
  }

  /* line 318, ../styles/styles.scss */
  #td-checkbox {
    width: 20px;
  }

  /* line 321, ../styles/styles.scss */
  #taskList .description {
    max-width: 300px;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 0px;
    cursor: pointer;
  }

  /* line 329, ../styles/styles.scss */
  #taskList :hover .description {
    font-size: 12px;
  }

  /* line 332, ../styles/styles.scss */
  #taskList :hover tr {
    background-color: #eee;
    font-size: 12px;
  }

  /* line 336, ../styles/styles.scss */
  #taskList .btn-link {
    float: left;
    font-size: 12px;
    color: #FF6633;
    text-decoration: none;
    visibility: visible;
  }

  /* line 343, ../styles/styles.scss */
  #taskList table {
    width: 100%;
  }

  /* line 346, ../styles/styles.scss */
  #taskList input {
    padding-bottom: 5px;
    margin-top: 8px;
  }

  /* line 350, ../styles/styles.scss */
  #taskList :hover input {
    margin-top: 10px;
  }

  /* line 353, ../styles/styles.scss */
  #taskList td {
    height: auto;
    padding: 5px;
  }

  /* line 357, ../styles/styles.scss */
  #taskList label {
    padding: 6px 0px;
  }

  /* line 360, ../styles/styles.scss */
  #taskList .btn-link {
    float: left;
    font-size: 12px;
    color: #FF6633;
    text-decoration: none;
    visibility: visible;
  }

  /* line 367, ../styles/styles.scss */
  #td-date {
    width: 80px;
  }

  /* line 370, ../styles/styles.scss */
  .date {
    float: right;
    font-weight: 200;
    font-size: 12px;
    cursor: pointer;
  }

  /* line 377, ../styles/styles.scss */
  #td-glyphicon {
    width: 65px;
  }

  /* line 380, ../styles/styles.scss */
  .glyphicon-pencil {
    font-size: 16px;
    float: right;
    color: #0066FF;
    margin: 5px;
    visibility: visible;
  }

  /* line 387, ../styles/styles.scss */
  .glyphicon-trash {
    font-size: 18px;
    float: right;
    color: red;
    margin: 5px;
    visibility: visible;
  }
}
