/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../styles/styles.scss */
.clear:after {
  content: "&nbsp;";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

/* line 17, ../styles/styles.scss */
.container {
  background-color: #FAF0E6;
}

/* line 23, ../styles/styles.scss */
.header {
  position: relative;
  width: 100%;
  max-width: 960px;
  padding: 10px;
  margin: auto;
  height: 60px;
  background-color: #FF6633;
}

/* line 32, ../styles/styles.scss */
.logo {
  float: left;
  height: 40px;
  padding: 0 10px 0 10px;
  font-size: 26px;
  font-weight: 500;
  color: white;
  border-radius: 5px;
}

/* line 46, ../styles/styles.scss */
.content {
  position: relative;
  width: 100%;
  max-width: 960px;
  height: 100%;
  left: 0px;
  margin: auto;
  background-color: #FAF0E6;
}

/* line 57, ../styles/styles.scss */
#touchMenu {
  display: none;
  padding: 8px 0px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

/* line 66, ../styles/styles.scss */
.divide {
  display: block;
  height: 3px;
  margin: 4px 0;
  background: #FFFFFF;
}

/* line 73, ../styles/styles.scss */
.nav {
  position: relative;
  margin-top: 70px;
  float: left;
  padding: 10px;
  width: 25%;
}

/* line 80, ../styles/styles.scss */
.nav ul {
  padding-left: 10px;
}

/* line 83, ../styles/styles.scss */
.nav li {
  padding-left: 20px;
}

/* line 87, ../styles/styles.scss */
.nav li .btn-link {
  margin-top: 4px;
  font-size: 16px;
  color: #000000;
}

/* line 92, ../styles/styles.scss */
.nav li .btn-link:hover {
  margin-top: 4px;
  font-size: 16px;
  color: #FF6633;
  text-decoration: none;
}

/* line 98, ../styles/styles.scss */
.glyphicon-list-alt, .glyphicon-calendar,
.glyphicon-check {
  font-size: 18px;
  color: #FF6633;
  height: 40px;
}

@media (max-width: 768px) {
  /* line 108, ../styles/styles.scss */
  .container {
    position: absolute;
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-color: #FAF0E6;
  }

  /* line 116, ../styles/styles.scss */
  .header {
    position: fixed;
    width: 100%;
    max-width: 768px;
    height: 60px;
    background-color: #FF6633;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
  }

  /* line 127, ../styles/styles.scss */
  .nav {
    margin-top: -10px;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
  }

  /* line 135, ../styles/styles.scss */
  .nav li {
    float: none;
  }

  /* line 139, ../styles/styles.scss */
  .nav li a {
    margin-top: 0px;
    padding: 5px;
    color: #333;
    border-top: 1px solid #eee;
    background-color: #F5F6F4;
  }

  /* line 146, ../styles/styles.scss */
  .nav li:first-child a {
    border-top: none;
    margin-top: 10px;
  }

  /* line 150, ../styles/styles.scss */
  .nav li a:hover {
    background-color: #F0F0EF;
    border-left: 3px solid #D0CDCD;
  }

  /* line 154, ../styles/styles.scss */
  #touchMenu {
    display: block;
    float: left;
    width: 40px;
    height: 40px;
    padding: 8px 8px;
    border-radius: 4px;
  }

  /* line 163, ../styles/styles.scss */
  #touchMenu:hover {
    background-color: #D66038;
  }
}
/* line 170, ../styles/styles.scss */
.task-page {
  position: relative;
  width: 75%;
  padding: 0px;
  display: inline-block;
  background-color: #FFFFFF;
}

/* line 180, ../styles/styles.scss */
.add-task {
  position: relative;
  padding: 50px 30px;
}

/* line 188, ../styles/styles.scss */
.list {
  position: relative;
  width: 100%;
  padding: 50px 10px;
}

@media (max-width: 768px) {
  /* line 197, ../styles/styles.scss */
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 60px;
    margin: auto;
    background-color: #FAF0E6;
  }

  /* line 206, ../styles/styles.scss */
  .task-page {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 10px;
    background-color: #FFFFFF;
  }

  /* line 213, ../styles/styles.scss */
  .add-task {
    padding: 25px 20px;
  }

  /* line 216, ../styles/styles.scss */
  .list {
    padding: 25px 10px;
  }
}
/* line 223, ../styles/styles.scss */
#taskList .description {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0px;
  cursor: pointer;
}

/* line 230, ../styles/styles.scss */
#taskList :hover .description {
  font-size: 18px;
}

/* line 233, ../styles/styles.scss */
#taskList input {
  float: left;
  margin-right: 0px;
}

/* line 237, ../styles/styles.scss */
#taskList tr {
  background-color: #FFFFFF;
}

/* line 243, ../styles/styles.scss */
#taskList :hover tr .glyphicon-trash {
  visibility: visible;
}

/* line 246, ../styles/styles.scss */
#taskList :hover tr .glyphicon-pencil {
  visibility: visible;
}

/* line 249, ../styles/styles.scss */
#taskList button {
  float: right;
  font-size: 10px;
  visibility: visible;
}

/* line 254, ../styles/styles.scss */
#taskList .btn-link {
  float: left;
  font-size: 16px;
  color: #FF6633;
  text-decoration: none;
  visibility: visible;
}

/* line 261, ../styles/styles.scss */
.glyphicon-pencil {
  font-size: 18px;
  float: right;
  color: #0066FF;
  margin: 5px;
  visibility: hidden;
}

/* line 268, ../styles/styles.scss */
.glyphicon-trash {
  font-size: 18px;
  float: right;
  color: red;
  margin: 5px;
  visibility: hidden;
}

/* line 275, ../styles/styles.scss */
.btn-info {
  font-size: 18px;
  float: left;
  color: #0409b3;
  margin: 5px;
}

/* line 286, ../styles/styles.scss */
.date {
  float: right;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 0px;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* line 296, ../styles/styles.scss */
  .glyphicon-pencil {
    font-size: 18px;
    float: right;
    color: #0066FF;
    margin: 5px;
    visibility: visible;
  }

  /* line 303, ../styles/styles.scss */
  .glyphicon-trash {
    font-size: 18px;
    float: right;
    color: red;
    margin: 5px;
    visibility: visible;
  }
}
