<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Список задач</title>	
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="./lib/angular.js"></script>
	<script type="text/javascript" src="./lib/angular.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<script type="text/javascript" src="controller.js"></script>
	<link rel="stylesheet" href="./lib/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" href="./css/styles.css">
	<link rel="stylesheet" href="./lib/bootstrap.css">
	<script src="customFilters.js"></script>
</head>
<body class="container" ng-app="todoApp" ng-controller="todoController">
	<header class="header">
		<div class="logo">
			<span class="todo" ng-click="showAll()">todo</span>
		</div>
		<a href="#" id="touchMenu" ng-click="openMenu = !openMenu">
			<span class="divide"></span>
			<span class="divide"></span>
			<span class="divide"></span>
		</a>
	</header>
	<div class="content">
		<nav id="desktop">
			<ul class="nav clearfix" tabindex='1'>
				<li>
					<span class="glyphicon glyphicon-list-alt"></span>  <button type="btn" class="btn-link" 
					ng-click="showAll()" >Входящие</button>
				</li>
				<li>
					<span class="glyphicon glyphicon-calendar"></span>  <button type="btn" class="btn-link" ng-click='setDay()'>Сегодня</button>
				</li>
				<li>
					<span class="glyphicon glyphicon-calendar"></span>  <button type="btn"  class="btn-link" ng-click='setWeek()'>Текущая неделя</button>
				</li>
				<li>
					<span class="glyphicon glyphicon-calendar"></span>  <button type="btn" class="btn-link" ng-click='setDone()'>Выполненные </button><span class="over">{{taskList.length - remain()}}</span>
				</li>
			</ul>
		</nav>
		<nav id="mobileMenu" ng-show="openMenu">
			<ul class="nav clearfix" tabindex='1'>
				<li>
					<button type="btn" class="btn-link" ng-click="showAll()" >Входящие</button>
				</li>
				<li>
					<button type="btn" class="btn-link" ng-click='setDay()'>Сегодня</button>
				</li>
				<li>
					<button type="btn"  class="btn-link" ng-click='setWeek()'>Текущая неделя</button>
				</li>
				<li>
					<button type="btn" class="btn-link" ng-click='setDone()'>Выполненные </button><span class="over">{{taskList.length - remain()}}</span>
				</li>
				</ul>
			
		</nav>
		<div class="task-page" ng-click="openMenu = false">
			<div class="add-task">
				<form name="myForm"  novalidate ng-submit="addTask()">				
					<!-- <div class="input-group input-group-lg" >
						<input type="text" style="width: 520px" class="form-control " ng-model="newTask" placeholder="Например: встреча с..." autofocus required />
						<input type="date" style="width: 200px" ng-model="setDate"  class="form-control" >
					</div> -->
					<div class="row">
						<div class="col-md-8">
					    	<input type="text"  class="form-control " ng-model="newTask" placeholder="Например: встреча с..." autofocus required />
						</div>
						<div class="col-md-4">
							<input type="date" class="form-control input-group-lg" ng-model="setDate"/>
						</div>
					</div>
				</form>	
				<div class="button-add">
					<button type="submit" class="btn" ng-disabled="myForm.$invalid" ng-click="addTask()">Добавить задачу</button>
					<button type="btn" class="btn btn-link" ng-click="clearTask()">Отменить</button>
				</div>
						
			</div>
			<div class="list" >
				<table id="taskList" class="table table-striped" cellpadding="0" cellpadding="0" ng-if="!importantlvalue && !dayvalue && !weekvalue" >
					<tbody ng-repeat="task in taskList track by $index ">			
						<tr ng-if="task != activeTask && !task.done">
							<td id="td-checkbox">
								<input type="checkbox" ng-model="task.done" title="Выполнено">
							</td>
							<td><label class="description" ng-class="{strike: task.done}" ng-click="editTask(task)">
								{{task.description}}</label>
							</td>
							<td id="td-date"><label class="date" >
								{{task.date | date: "dd-MM-yyyy"}}</label>
							</td>
							<td id="td-glyphicon">
								<a class="glyphicon glyphicon-trash" href="" ng-hide="task.done" ng-click="deleteTask()" title="Удалить"></a>
								<a class="glyphicon glyphicon-pencil" href="" ng-hide="task.done" ng-click="editTask(task)" title="Редактировать"></a>
							</td>
						</tr>
						<tr ng-if="task == activeTask" >
							<td id="td-checkbox">
								<input type="checkbox" ng-model="task.done" disabled>	
							</td>
							<td>
								<input id="taskList" class="description" ng-model="task.description" type="text" autofocus>
							</td>
							<td colspan="2">
								<button class="btn btn-link" ng-click="updateTask(task)">Сохранить</button>
							</td>
						</tr>	
					</tbody>
				</table>
				<!-- <span class="h4">Осталось {{remain()}}</span> -->
				<table id="taskList" class="table table-striped" cellpadding="0" cellpadding="0" ng-if="importantlvalue">
					<tbody  ng-repeat="task in taskList | showDone: importantlvalue">
						<tr>
							<td id="td-checkbox">
								<input type="checkbox" ng-model="task.done" title="Выполнено">
							</td>
							<td><label class="description"  ng-click="editTask(task)">
								{{task.description}}</label>
							</td>
							<td id="td-date"><label class="date" >
								{{task.date | date: "dd-MM-yyyy"}}</label>
							</td>
						</tr>
						<tbody>
							<tr>
								<td colspan="4" style="background-color: #FFFFFF;" >
									<button style="float: right; font-size: 14px;" class="btn btn-danger" ng-click="clearCompleted()" >Очистить выполненные</button>
								</td>	
							</tr>
							
						</tbody>		
					</tbody>
				</table>
				<table id="taskList" class="table table-striped" cellpadding="0" cellpadding="0" ng-if="dayvalue && !importantlvalue">
				<tbody  ng-repeat="task in taskList | showToday: dayvalue">
					<tr ng-if="task != activeTask && !task.done">
						<td id="td-checkbox">
							<input type="checkbox" ng-model="task.done" title="Выполнено">
						</td>
						<td>
							<label class="description" ng-click="editTask(task)">{{task.description}}</label>
						</td>
						<td id="td-date"><label class="date" >
							{{task.date | date: "dd-MM-yyyy"}}</label>
						</td>
						<td id="td-glyphicon">
							<a class="glyphicon glyphicon-trash" href="" ng-hide="task.done" ng-click="deleteTask()" title="Удалить"></a>
							<a class="glyphicon glyphicon-pencil" href="" ng-hide="task.done" ng-click="editTask(task)" title="Редактировать"></a>
							<a class="glyphicon glyphicon-thumbs-up" ng-show="task.done"></a>
						</td>
						</tr>
						<tr ng-if="task == activeTask" >
							<td id="td-checkbox">
								<input type="checkbox" ng-model="task.done" disabled>	
							</td>
							<td>
								<input id="taskList" class="description" ng-model="task.description" type="text" autofocus>
							</td>
							<td colspan="2">
								<button class="btn btn-link" ng-click="updateTask(task)">Сохранить</button>
							</td>
						</tr>	
	                </tbody>
	            </table>
				<table id="taskList" class="table table-striped" cellpadding="0" cellpadding="0" ng-if="weekvalue && !importantlvalue">
					<tbody  ng-repeat="task in taskList | showWeek: weekvalue">
						<tr ng-if="task != activeTask && !task.done">
							<td id="td-checkbox">
								<input type="checkbox" ng-model="task.done" title="Выполнено">
							</td>
							<td><label class="description" ng-click="editTask(task)">
								{{task.description}}</label>
							</td>
							<td id="td-date"><label class="date" >
								{{task.date | date: "dd-MM-yyyy"}}</label>
							</td>
							<td id="td-glyphicon">
								<a class="glyphicon glyphicon-trash" href="" ng-hide="task.done" ng-click="deleteTask()" title="Удалить"></a>
								<a class="glyphicon glyphicon-pencil" href="" ng-hide="task.done" ng-click="editTask(task)" title="Редактировать"></a>
								<a class="glyphicon glyphicon-thumbs-up" ng-show="task.done"></a>
							</td>
						</tr>
						<tr ng-if="task == activeTask" >
							<td id="td-checkbox">
								<input type="checkbox" ng-model="task.done" disabled>	
							</td>
							<td>
								<input id="taskList" class="description" ng-model="task.description" type="text" autofocus>
							</td>
							<td colspan="2">
								<button class="btn btn-link" ng-click="updateTask(task)">Сохранить</button>
							</td>
						</tr>	
					</tbody>
				</table>	
			</div>
		</div>
	</div>
</body>
</html>