<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Список задач</title>	
	<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jQuery/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<script type="text/javascript" src="controller.js"></script>
<!-- 	<script type="text/javascript" src="js/moment-with-locales.min.js"></script -->>
<!-- 	<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js"></script> -->
	<link rel="stylesheet" href="css/bootstrap-datetimepicker.min.css" />
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<script src="customFilters.js"></script>
</head>
<body ng-app="todoApp" class="container">
<script src="customFilters.js"></script>
<header class="head">
<div class="btn-group">
	<div class="logo"><span class="glyphicon glyphicon-align-justify"></span>
	</div>
</div>
</header>
	<div class="all-holder" id="allHolder" ng-controller="todoController">
		<div class="add-task">
			<form name="myForm" class="form-inline" novalidate ng-submit="addTask()">
				<div class="input-group input-group-lg" >
					<input type="text" style="width: 520px" class="form-control input-sm" ng-model="newTask" placeholder="Например: встреча с..." autofocus required />
					<input type="date" style="width: 200px" ng-model="setDate"  class="form-control input-sm" >
					<input type="checkbox" ng-model="importan.done">
				</div>
			</form>
			<div style="margin-top: 10px;">
				<button type="submit" class="btn" ng-disabled="myForm.$invalid" ng-click="addTask()">Добавить задачу</button>
				<button type="btn" class="btn btn-link" ng-click="clearTask()">Отменить</button>
			</div>
		</div>	
		<div id="left-menu" class="left-menu">
			<div id="top-section">
				<p>
					<span class="glyphicon glyphicon-list-alt"></span>  <button type="btn" style="margin-top: : 4px;" class="btn-link" 
					ng-click="changeImportanValue()" >Важное</button>
				</p>
				<p>
					<span class="glyphicon glyphicon-calendar"></span>  <button type="btn" style="margin-top: 4px;" class="btn-link" ng-click="changeModelValue()" >Сегодня</button>
				</p>
				<p>
					<span class="glyphicon glyphicon-calendar"></span>  <button type="btn" style="margin-top: 4px;" class="btn-link">Текущая неделя</button>
				</p>
				<p>
					<span class="glyphicon glyphicon-calendar"></span>  <button type="btn" style="margin-top: 4px;" class="btn-link" >Выполненные</button>
				</p>
			</div>
		</div>
		<div class="task-list">
			<table id="taskList" class="table table-striped" cellpadding="0" cellpadding="0" >
				<tbody ng-repeat="task in taskList | sortDate:modelvalue | showImportant: importantlvalue">				
					<tr ng-if="task != activeTask  && !task.done">
						<td>
							<input type="checkbox" ng-model="task.done" title="Выполнено">
						</td>
						<td><label class="description" ng-class="{strike: task.done}">
							{{task.description}}</label>
						</td>
						<td><label class="date" >
							{{task.date | date: "dd-MM-yyyy"}}</label>
						</td>
						<td>
							<a class="glyphicon glyphicon-trash" href="" ng-hide="task.done" ng-click="deleteTask()" title="Удалить"></a>
							<a class="glyphicon glyphicon-pencil" href="" ng-hide="task.done" ng-click="editTask(task)" title="Редактировать"></a>
							<a class="glyphicon glyphicon-thumbs-up" ng-show="task.done"></a>
						</td>
					</tr>
					<tr ng-if="task == activeTask" >
						<td>
							<input type="checkbox" ng-model="task.done" disabled>	
						</td>
						<td>
							<input id="taskList" class="description" ng-model="task.description" type="text" autofocus>
						</td>
						<td>
							<a class="glyphicon glyphicon-ok" href="" ng-click="updateTask(task)"></a>
						</td>
					</tr>	
				</tbody>
			</table>
			<span class="h4">Осталось {{remain()}}</span>
			<table id="taskList" class="table table-striped" cellpadding="0" cellpadding="0" >
                <tbody  ng-repeat="task in taskList track by $index">
                    <tr  ng-show="task.done">
						<td>
							<input type="checkbox" ng-model="task.done" title="Выполнено">
						</td>
						<td><label class="description" ng-class="{strike: task.done}">
							{{task.description}}</label>
						</td>
						<td><label class="date" >
							{{task.date | date: "dd-MM-yyyy"}}</label>
						</td>
						<td>
							<a class="glyphicon glyphicon-trash" href="" ng-hide="task.done" ng-click="deleteTask()" title="Удалить"></a>
							<a class="glyphicon glyphicon-pencil" href="" ng-hide="task.done" ng-click="editTask(task)" title="Редактировать"></a>
							<a class="glyphicon glyphicon-thumbs-up" ng-show="task.done"></a>
						</td>
					</tr>
                </tbody>
            </table>
		</div>
	</div>
</body>
</html>