/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.clear:after {
        content: "&nbsp;";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        line-height: 0;
}

.container{
	background-color: #FAF0E6;
	height: 100hv;
	
}

		// --------header--------
.header{
	position: relative;
	width: 100%;
	max-width: 960px;
	padding: 10px;
	margin: auto;
	height: 60px;
	background-color: #FF6633;
}
.logo {
	float: left;
	height: 40px;
	padding: 0 10px 0 10px;
	font-size: 26px;
	font-weight:500;
	color: white;
	border-radius: 5px;	
}


	// -------content------
.content{
	position: relative;
	width: 100%;
	// height: 100%;
	max-width: 960px;
	left: 0px;
	margin: auto;
	background-color: #FAF0E6;
	
}
#touchMenu {
	display: none;
	padding: 8px 0px;
	// text-decoration:none;
    font-size: 16px;
    font-weight:500;
	color:#333;
}
.divide {
	display: block;
	height: 3px;
	margin: 4px 0;
	background: #FFFFFF;
}
	// ------left-menu-------
.nav{
	position: relative;
	margin-top: 70px;
	float: left;
	padding: 10px;
	width: 25%;
}
.nav ul{
		padding-left: 10px;
	}
.nav li{
	padding-left: 5px;
}

.nav  button{
	margin-top: 4px;
	font-size: 16px;
	color: #000000;
}
.nav button:hover{
	margin-top: 4px;
	font-size: 16px;
	color: #FF6633;
	text-decoration: none;
}
.glyphicon-list-alt, .glyphicon-calendar,
.glyphicon-check{
	font-size: 18px;
	color: #FF6633;	
	height: 40px;
}
#mobileMenu ul{
	display: none;
}

	// -------@media touch-menu--------

@media (max-width: 768px){
	.container{
		position: absolute;
		width: 100%;
		padding: 0px;
		margin: 0px;
		height: 100%;
		background-color: #FAF0E6;
	}
	.header{
		position: fixed;
		width: 100%;
		max-width: 768px;
		height: 60px;
		background-color: #FF6633;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999999;
	}
	#touchMenu{
		display: block;
		float: right;
		width: 40px;
		height: 40px;
		padding: 8px 8px;
		margin-right: 5px; 
		border-radius: 4px;
	}
	#touchMenu:hover {
		background-color: #D66038;
	}
	#desktop{ 
		position: absolute;
		margin-top: -10px;
		top: 100%;
		left: 0;
		right: 0;
		display: none;
	}
	#mobileMenu{
		margin: 0px;
	}
	#mobileMenu ul{
		display: block;
		position: relative;
		margin: 0px;
		padding: 0px;
		width: 100%;
		background-color: #FAF0E6;
	}
	#mobileMenu li{
		float: none;
		padding:5px 0px;
		text-transform:uppercase;
		border-top: 1px solid #F6E6D5;
	}
	#mobileMenu li:hover {
		background-color: #F6E6D5;
		border-left: 3px solid #FF6633;
	}
	#mobileMenu li:hover button{
		color: #FF6633;
	}
	#mobileMenu button{
		font-size: 12px;
		text-transform:uppercase;
		text-decoration: none;
	}
}

	// ------task-page-------
.task-page{
	position: relative;
	width: 75%;
	// height: 100%;
	padding: 0px;
	display: inline-block;
	background-color: #FFFFFF;
}
.add-task{
	position: relative;
	padding:50px 30px;
}
.list{
	position: relative;
	width: 100%;
	height: 100vh;
	padding: 50px 10px;
}

// -------@media touch-menu--------

@media (max-width: 768px){
	.container{
		position: absolute;
		margin: 0px;
		padding: 0px;
	}
	.content{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 60px;
		padding: 0px;
		margin: 0px;
		background-color: #FAF0E6;
	}
	.task-page{
		position: relative;
		width: 100%;
		height: 100%;
		margin: 0px;
		padding: 0px;
		background-color: #FFFFFF;
	}
	.add-task{
		padding: 25px 20px;
	}
	.list{
		padding: 15px 0px 15px 5px;
	}
	.mobileMenu{
		position: absolute;
		top: 50px;
	}
}
		// -----taskList------

#td-checkbox{
	width: 30px;
}
#taskList .description {
	max-width: 450px;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 0px;
	cursor: pointer;
}
#taskList :hover .description{
	font-size: 18px;
}
#taskList input {
	float: left;
	margin-right: 5px;
	margin-top: 6px;
}
#taskList tr {
	background-color: #FFFFFF;
}
#taskList :hover tr .glyphicon-trash{
	visibility: visible;
}
#taskList :hover tr .glyphicon-pencil{
	visibility: visible;
}
#taskList button {
	float: right;
	font-size: 10px;
	visibility:visible;
}
#taskList .btn-link {
	float: left;
	font-size: 16px;
	color: #FF6633;
	text-decoration: none;
	visibility:visible;
}
.glyphicon-pencil{
	font-size: 18px;
	float: right;
	color: #0066FF;
	margin:5px;
	visibility: hidden;
}
.glyphicon-trash{
	font-size: 18px;
	float: right;
	color: red;
	margin:5px;
	visibility: hidden;
}
.btn-info{
	font-size: 18px;
	float: left;
	color: #0409b3;
	margin:5px;
}
.date{
	// font-family:  cursive;
	float: right;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 0px;
	cursor: pointer;
}
	
	@media (max-width: 768px){
		#taskList{
			width: 100%;
		}
		#td-checkbox{
			width: 20px;
		}
		#taskList .description {
			// font-family: cursive;
			max-width: 300px;
			font-weight: 300;
			font-size: 12px;
			margin-bottom: 0px;
			cursor: pointer;
		}
		#taskList :hover .description{
			font-size: 12px;
		}
		#taskList :hover tr{
			background-color: #eee;
			font-size: 12px;
		}
		#taskList .btn-link {
			float: left;
			font-size: 12px;
			color: #FF6633;
			text-decoration: none;
			visibility:visible;
		}
		#taskList table{
			width: 100%;
		}
		#taskList input{
			padding-bottom: 5px;
			margin-top: 8px;
		}
		#taskList :hover input{
			margin-top: 10px;
		}
		#taskList td{
			height: auto;
			padding: 5px;
		}
		#taskList label{
			padding: 6px 0px;
		}
		#taskList .btn-link {
			float: left;
			font-size: 12px;
			color: #FF6633;
			text-decoration: none;
			visibility:visible;
		}
		#td-date{
			width: 80px;
		}
		.date{
			float: right;
			font-weight: 200;
			font-size: 12px;
			// margin-bottom: -10px;
			cursor: pointer;
		}
		#td-glyphicon{
			width: 65px;
		}
		.glyphicon-pencil{
			font-size: 16px;
			float: right;
			color: #0066FF;
			margin:5px;
			visibility: visible;
		}
		.glyphicon-trash{
			font-size: 18px;
			float: right;
			color: red;
			margin:5px;
			visibility: visible;
		}
	}
