/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

.clear:after {
        content: "&nbsp;";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
        line-height: 0;
}

.container{
	background-color: #FAF0E6;
	
}

		// --------header--------
.header{
	position: relative;
	width: 100%;
	max-width: 960px;
	padding: 10px;
	margin: auto;
	height: 60px;
	background-color: #FF6633;
}
.logo {
	float: left;
	height: 40px;
	padding: 0 10px 0 10px;
	// font-family: cursive;
	font-size: 26px;
	font-weight:500;
	color: white;
	// background-color: white;
	border-radius: 5px;	
}


	// -------content------
.content{
	position: relative;
	width: 100%;
	max-width: 960px;
	height: 100%;
	left: 0px;
	// top: 35px;
	margin: auto;
	background-color: #FAF0E6;
	
}
#touchMenu {
	display: none;
	padding: 8px 0px;
	// text-decoration:none;
    font-size: 16px;
    font-weight:500;
	color:#333;
}

.divide {
	display: block;
	height: 3px;
	margin: 4px 0;
	background: #FFFFFF;
}
	// ------left-menu-------
.nav{
	position: relative;
	margin-top: 70px;
	float: left;
	padding: 10px;
	width: 25%;
}
.nav ul{
		padding-left: 10px;
	}
.nav li{
	padding-left: 20px;
}

.nav li .btn-link{
	margin-top: 4px;
	font-size: 16px;
	color: #000000;
}
.nav li .btn-link:hover{
	margin-top: 4px;
	font-size: 16px;
	color: #FF6633;
	text-decoration: none;
}
.glyphicon-list-alt, .glyphicon-calendar,
.glyphicon-check{
	font-size: 18px;
	color: #FF6633;	
	height: 40px;
}

	// -------@media touch-menu--------

@media (max-width: 768px){
	.container{
		position: absolute;
		width: 100%;
		padding: 0px;
		margin: 0px;
		height: 100%;
		background-color: #FAF0E6;
	}
	.header{
		position: fixed;
		width: 100%;
		max-width: 768px;
		height: 60px;
		background-color: #FF6633;
		top: 0;
		left: 0;
		right: 0;
		z-index: 999999;
	}
	.nav { 
		// position: absolute;
		margin-top: -10px;
		top: 100%;
		left: 0;
		right: 0;
		display: none;
	}
	.nav li {
		float: none;
		// position: relative;
	}
	.nav li a {
		margin-top: 0px;
		padding: 5px;
		color: #333;
		border-top: 1px solid #eee;
		background-color:#F5F6F4;
	}
	.nav li:first-child a {
		border-top: none;
		margin-top: 10px;
	}
	.nav li a:hover {
		background-color: #F0F0EF;
		border-left: 3px solid #D0CDCD;
	}
	#touchMenu{
		display: block;
		float: left;
		width: 40px;
		height: 40px;
		// margin: 0px 10px;
		padding: 8px 8px;
		border-radius: 4px;
	}
	#touchMenu:hover {
		background-color: #D66038;
	}
}
	

	// ------task-page-------
.task-page{
	position: relative;
	// top: 30px;
	width: 75%;
	// height: auto;
	padding: 0px;
	display: inline-block;
	
	background-color: #FFFFFF;
}
.add-task{
	position: relative;
	padding:50px 30px;
}
// .button-add{
// 	position: relative;
// 	// left: 15px;
// }
.list{
	position: relative;
	width: 100%;
	padding: 50px 10px;
}

// -------@media touch-menu--------

@media (max-width: 768px){
	.content{
		position: relative;
		width: 100%;
		height: 100%;
		left: 0px;
		top: 60px;
		margin: auto;
		background-color: #FAF0E6;
	}
	.task-page{
		position: relative;
		width: 100%;
		margin: 0px;
		padding: 10px;
		background-color: #FFFFFF;
	}
	.add-task{
		padding: 25px 20px;
	}
	.list{
		padding: 25px 10px;
	}
}



#taskList .description {
	// font-family: cursive;
	font-weight: 400;
	font-size: 16px;
	margin-bottom: 0px;
	cursor: pointer;
}
#taskList :hover .description{
	font-size: 18px;
}
#taskList input {
	float: left;
	margin-right: 0px;
}
#taskList tr {
	background-color: #FFFFFF;
}
// #taskList :hover tr {
// 	background-color: #DCDCDC;
// }
#taskList :hover tr .glyphicon-trash{
	visibility: visible;
}
#taskList :hover tr .glyphicon-pencil{
	visibility: visible;
}
#taskList button {
	float: right;
	font-size: 10px;
	visibility:visible;
}
#taskList .btn-link {
	float: left;
	font-size: 16px;
	color: #FF6633;
	text-decoration: none;
	visibility:visible;
}
.glyphicon-pencil{
	font-size: 18px;
	float: right;
	color: #0066FF;
	margin:5px;
	visibility: hidden;
}
.glyphicon-trash{
	font-size: 18px;
	float: right;
	color: red;
	margin:5px;
	visibility: hidden;
}
.btn-info{
	font-size: 18px;
	float: left;
	color: #0409b3;
	margin:5px;
}
// .down {
// 	font-size: 16px;
// 	color: green;
// 	font-style: italic;
// }
.date{
	// font-family:  cursive;
	float: right;
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 0px;
	cursor: pointer;
}
	
	@media (max-width: 768px){
		.glyphicon-pencil{
			font-size: 18px;
			float: right;
			color: #0066FF;
			margin:5px;
			visibility: visible;
		}
		.glyphicon-trash{
			font-size: 18px;
			float: right;
			color: red;
			margin:5px;
			visibility: visible;
		}
	}
